<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database homepage</title>
    <style>
        form {
            border-style: solid;
        }
    </style>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <h1>
    {% for message in messages %}
      {{ message }}
    </h1>
        <br/>
    {% endfor %}
  {% endif %}
{% endwith %}

    <h2>Add Customer</h2>
    <form action="addCustomer" method="post">
        <table>
            <tr>
                <td>ID</td>
                <td><input type="number" name="ID"/></td>
            <tr/>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name"/></td>
            <tr/>
            <tr>
                <td>Email</td>
                <td><input type="email" name="email"/></td>
            </tr>
        </table>
        <input type="submit" value="Add Customer"/>
    </form>
    <br/>
    <h2>Add Ticket</h2>
    <form action="addTicket" method="post">
        <table>
            <tr>
                <td>ID</td>
                <td><input type="number" name="ID"/></td>
            </tr>

            <tr>
                <td>Problem description</td>
                <td><textarea name="problem"></textarea></td>
            </tr>

            <tr>
                <td>Status</td>
                <td><input type="text" name="status"/></td>
            </tr>

            <tr>
                <td>Priority (1 - 3)</td>
                <td><input type="number" name="priority"/></td>
            </tr>

            <tr>
                <td>Customer ID</td>
                <td><input type="number" name="customerid"/></td>
            </tr>

            <tr>
                <td>Product ID</td>
                <td><input type="number" name="productid"/></td>
            </tr>
        </table>
        <input type="submit" value="Add Ticket"/>
    </form>
    <br/>
    <h2>Add Update</h2>
    <form action="addUpdate" method="post">
        <table>
            <tr>
                <td>TicketUpdateID</td>
                <td><input type="number" name="ID"/></td>
            </tr>
            <tr>
                <td>Message</td>
                <td><textarea name="message"></textarea></td>
            </tr>
            <tr>
                <td>TicketID</td>
                <td><input type="number" name="ticketid"/></td>
            </tr>
            <tr>
                <td>StaffID (Leave blank if customer reply)</td>
                <td><input type="number" name="staffid"/></td>
            </tr>
        </table>
        <input type="submit" value="Add Ticket Update"/>
    </form>
    <br/>
    <h2>List Open Tickets</h2>
    <form action="listOpenTickets" method="get">
        <input type="submit" value="List open Tickets"/>
    </form>
    <br/>
    <h2>Close Ticket</h2>
    <form action="closeTicket" method="post">
        <table>
            <tr>
                <td>TicketID</td>
                <td><input type="number" name="ID"/></td>
            </tr>
        </table>
        <input type="submit" value="Close Ticket"/>
    </form>
    <br/>
    <h2>List Ticket and Associated Updates</h2>
    <form action="listTicketAndUpdates" method="get">
        <table>
            <tr>
                <td>TicketID</td>
                <td><input type="number" name="ID"/></td>
            </tr>
        </table>
        <input type="submit" value="List Ticket and Updates"/>
    </form>
    <br/>
    <h2>List Closed Ticket and Update information</h2>
    <form action="listClosedTicketUpdateStatus" method="get">
        <input type="submit" value="Get Closed Ticket Update Statues">
    </form>
    <br/>
    <h2>Delete Customer</h2>
    <form action="deleteCustomer" method="post">
        <table>
            <tr>
                <td>
                    CustomerID
                </td>
                <td>
                    <input type="number" name="ID"/>
                </td>
            </tr>
        </table>
        <input type="submit" value="Delete Customer"/>
    </form>
</body>
</html>