<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket statuses</title>
    <style>
        td {
            border-style: solid;
        }
    </style>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <h1>
    {% for message in messages %}
      {{ message }}
    </h1>
        <br/>
    {% endfor %}
  {% endif %}
{% endwith %}

<table>
    <tr>
        <td>Number of updates</td>
        <td>Original problem description</td>
        <td>Time between ticket and first update (days HH:MM:SS)</td>
        <td>Time between ticket and last update (days HH:MM:SS)</td>
    </tr>
    {% for line in lines %}
    <tr>
        <td>{{line[0]}}</td>
        <td>{{line[1]}}</td>
        <td>{{line[2]}}</td>
        <td>{{line[3]}}</td>
    </tr>
    {% endfor %}
</table>
<a href = "/">Back</a>
</body>
</html>